/* AddProjectForm.css */

   .form h3 {
    position: absolute;
    margin:10px;
    top:1.5;
    left:37%
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:radial-gradient( rgb(249, 149, 251),white);    
    height: 88.5vh;
  }

  
  .form {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 80%;
    height:80%;
    padding: 20px;
    background-color: #8ce2ea;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
  }
  /* .split {
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  } */

.left{ 
    position: absolute;
    width: 40%;
    left: 2;
    margin-left: 0%;
    margin-top:5%;
    padding: 15px;
    height: 50vh;
    border:3px  solid rgb(134, 202, 229) ;
    
}

  .right{
    position: absolute;
    width:53%;
    right: 2; 
    margin-left: 42%;
    margin-top:5%;
    padding: 15px;
    height: 50vh; 
    border:3px  solid rgb(134, 202, 229) ;

  } 
  
  .form label {
    text-align: center;
    font-weight: bold;
    margin-left: 15%;

  }

 
  .form input[type='text'],
  .form textarea {
    width: 70%;
    padding: 6px;
    margin: 18px;
    margin-left: 15%;
    border: 1px solid #ccc;
    background-color: #d1f5f8;
  }
  
  .form input[type='file'] {
    width: 60%;
    margin: 5% ;
    margin-left: 15%; 
    margin-right: 15%;
    padding: 2px;
    border: 1px solid #ccc;
    background-color: #d1f5f8;
    
    border-radius: 4px;
  }
  
  .button1 {
    position: absolute;
    top:86%;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    margin-top:20px;
    border-radius: 4px;
    cursor: pointer;
    left: 66%;
  }
  .cancel1{
    position: absolute;
    background-color: red;
    padding: 8px 16px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    top:91%;
    margin-left: 80%;

  }
  
 .button1:hover {
    background-color: #0056b3;
  }
  .cancel1:hover{
    background-color: rgb(201, 4, 4);
  }
  
  .form img {
  
    max-width: 80%;
    max-height:40% ;
    margin:8% 20%;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .form img{
    max-width: 60%;
    max-height: 40%;
    margin:10% 18%;
   }
   .button1 {
    position: absolute;
    top:83%;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    left: 60%;
  }
  .cancel1{
    position: absolute;
    background-color: red;
    padding: 8px 16px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    top:88%;
    margin-left: 75%;

  }


  }

 
  @media screen and (max-width: 767px) {
    /* Add your full responsive CSS code here */
    .form img{
      max-width: 60%;
      max-height: 40%;
      margin:10% 18%;
     }
     .button1 {
      position: absolute;
      top:85%;
      padding: 8px 16px;
      background-color: #007bff;
      color: #fff;
      border: none;
      margin-top:20px;
      border-radius: 4px;
      cursor: pointer;
      left: 58%;
    }
    .cancel1{
      position: absolute;
      background-color: red;
      padding: 8px 16px;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      top:90%;
      margin-left: 75%;
  
    }
    .form h3 {
      position: absolute;
      margin:10px;
      left:30%;
      top:0;
    }
    }

  @media screen and (max-width: 618px) {
    .button1 {
      position: absolute;
      top:81%;
      padding: 8px 16px;
      background-color: #007bff;
      color: #fff;
      border: none;
      margin-top:20px;
      border-radius: 4px;
      cursor: pointer;
      left: 50%;
    }
    
    .cancel1{
      position: absolute;
      background-color: red;
      padding: 8px 16px;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      top:86%;
      margin-left: 75%;
     } }